<footer>
    <section class="footer cus-container max-w-4xl mx-auto flex sm:flex-row flex-col justify-between py-12">
        <div class="fcol-1 fcol sm:w-1/4 w-1/1 sm:px-0 px-4">
            <p class="sm:text-xl text-base text-brand-fclr sm:font-medium font-normal mb-6">Legal</p>
            <ul>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline mb-3">Legal</a></li>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline mb-3">Terms and Conditions</a></li>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline mb-3">Privacy Policy</a></li>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline">Refund Policy</a></li>
            </ul>
        </div>
        <div class="fcol-2 fcol sm:w-1/4 w-1/1 sm:px-0 px-4">
            <p class="sm:text-xl text-base text-brand-fclr sm:font-medium font-normal mb-6 mb-3">Disclaimer</p>
            <ul>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline mb-3">LegalTrademark Disclaimer</a></li>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline">Earnings Disclaimer</a></li>
            </ul>
        </div>
        <div class="fcol-3 fcol sm:w-1/4 w-1/1 sm:px-0 px-4">
            <p class="sm:text-xl text-base text-brand-fclr sm:font-medium font-normal mb-6">Blog</p>
            <ul>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline mb-3">Recent Blog Articles</a></li>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline">Reverse Wholesale Sourcing</a></li>
            </ul>
        </div>
        <div class="fcol-4 fcol sm:w-1/4 w-1/1 sm:px-0 sm:pl-10 px-4">
            <p class="sm:text-xl text-base text-brand-fclr sm:font-medium font-normal mb-6">Help</p>
            <ul>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline mb-3">Other</a></li>
                <li><a href="#" class="text-brand-flink sm:.text-base text-sm no-underline">Support Articles</a></li>
            </ul>
        </div>
    </section>
</footer>