<!-- Navigation -->
<header>
    <nav class=" bg-blue-900 px-6 py-3">
        <div class="max-w-4xl mx-auto flex items-center justify-between sm:flex-row flex-col">
            <div class="sm:w-1/2 w-1/1 sm:mb-0 mb-3">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
            </div>
            <!-- <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div> -->
            <div class="sm:w-1/2 w-1/1 sm:text-right">
                <a href="#" class="inline-block text-lg px-6 py-2 leading-none font-semibold bg-gray-800 rounded text-white border-2 border-gray-800 hover:border-gray-800 hover:text-white hover:bg-transparent lg:mt-0">Login</a>
                <a href="#" class="inline-block text-lg px-6 py-2 sm:ml-4 ml-0 leading-none font-semibold bg-blue-800 rounded text-white border-2 border-blue-800 hover:border-blue-800 hover:text-white hover:bg-transparent lg:mt-0">Sign Up</a>
            </div>
        </div>
    </nav>
    <!-- Banner Section -->
    <section class="banner-sec container mt-8 mx-auto">
        <div class="banner-container mx-auto flex justify-between sm:flex-row flex-col">
            <div class="sm:w-1/2 w-1/1 banner-col-1 sm:p-0 px-4">
                <h1 class="text-lg sm:text-3xl font-bold mb-2 ">Find High Demand, Profitable Products In Just Minutes</h1>
                <p class="sm:font-semibold font-normal sm:text-lg text-sm mb-12 sm:text-sm">Analyze wholesale supplier lists at lightning speed, improve buying decisions with better data, and grow your Amazon wholesale business.</p>
                <a href="#" class="inline-block sm:text-lg text-base px-6 py-2 leading-none font-semibold rounded text-white border-2 border-gray-800 hover:border-gray-800 hover:text-white hover:bg-transparent lg:mt-0 banner-btn-1">Learn more</a>
                <a href="#" class="inline-block sm:text-lg text-base px-6 py-2 ml-4 leading-none font-semibold bg-blue-800 rounded text-white border-2 border-blue-800 hover:border-blue-800 hover:text-white hover:bg-transparent lg:mt-0 banner-btn-2">Get Started for Free</a>
            </div>
            <div class="sm:w-1/2 w-1/1 banner-col-2 sm:p-0 px-4 sm:mt-0 mt-4">
                <img src="images/banner-col-img.png" alt="">
            </div>
        </div>
    </section>
</header>