/* Custom Css */

body {
    font-family: 'Poppins';
}

.banner-container {
    max-width: 1090px;
}

.banner-col-1 h1 {
    color: #0C1D40;
}

.banner-col-1 p {
    color: #3C3C3C;
}

.banner-btn-1 {
    background: #2D3A4B;
}

.banner-btn-1:hover {
    color: #2D3A4B;
}

.banner-btn-2:hover {
    color: #0278AE;
}


/* Trusted-sec */

.trusted-sec {
    background: linear-gradient(to right, rgba(12, 29, 64, 0.8), rgb(2, 6, 13));
}

.whole-p {
    max-width: 500px;
}


/* Footer Sec */

section.footer {
    background: #fff;
}

.fcol p {
    color: #828283;
}

.fcol ul li a {
    color: #A9ADC1;
    display: inline-block;
}

.fcol ul li a:hover {
    color: #828283;
}


/* Feature Sec */

section.feature-sec {
    margin-top: 40px;
}


/* section.feature-sec h2 {
    font-size: 42px;
} */

section.feature-sec p {
    color: #B2B0B0;
    max-width: 860px;
    margin: auto;
}

.feature-col {
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
    ;
}

.feature-col-img {
    max-width: 100px;
}

.work-sec {
    background: #F8F8F8;
}

.work-sec-head p {
    max-width: 800px;
    margin: auto;
}

.work-col.work-col-1 {
    height: fit-content;
    align-self: center;
}

.work-col.work-col-2 {
    border-radius: 5px;
    background: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 234px;
}


/* Work Sec 2 */

.work-sec2-col.work-sec2-col-1 {
    border-right: 5px solid #B7B2B2;
    position: relative;
}

.work-sec2-col.work-sec2-col-1::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 35px;
    background: #0278AE;
    top: 20px;
    right: -5px;
    bottom: unset;
    left: unset;
    margin: auto;
}

.work-sec2-col.work-sec2-col-1 ul li span {
    display: inline-block;
    vertical-align: middle;
}

.work-sec2-col.work-sec2-col-1 ul li span img {
    max-width: 30px;
}


/* Trsust Section 2 */

.trust-sec2-head p {
    color: #B2B0B0;
    margin: auto;
    max-width: 610px;
}

.trust-sec2-col {
    box-shadow: 0 9px 16px 9px rgba(0, 0, 0, 0.1);
    background: url(images/left-quote.png) no-repeat;
    background-size: 13%;
    background-position: 10% 11%;
}

.trust-sec2-col p span.span-1 {
    color: #DBDBDB;
}

.trust-sec2-col p span {
    color: #F9CA3C;
}


/* Price section */

.price-sec-head.work-sec-head p {
    color: #B2B0B0;
}

.price-sec-col {
    background: #fff;
}

.price-sec-col.price-sec-col-1 {
    height: fit-content;
    align-self: center;
}

.price-sec-col.price-sec-col-2 {
    border: 3px solid #D1D2D2;
}

.price-list {
    border-top: 2px solid #C7C7C7;
}

.price-list p:nth-child(even) {
    background-color: #F6F6F6;
}

.price-sec-col a {
    width: 90%;
    margin: 24px auto 0 auto;
}


/* Next Level section */

.next-level-sec {
    background: url(images/Group\ 51.png) no-repeat;
    background-size: cover;
}

.next-level-col.next-level-col-1 {
    height: fit-content;
    align-self: center;
}