<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/tailwind.css">
    <link rel="stylesheet" href="custom.css">
    <title>Whole Sale Inspector</title>
</head>

<body>
    {% include partials/_header.html %}
    <!-- Trusted Section -->
    <section class="trusted-sec text-center mt-16 py-8">
        <h2 class="sm:text-3xl text-lg font-bold text-white ">Trusted by Thousands</h2>
        <p class="whole-p sm:text-lg text-sm text-white text-normal mb-6 mx-auto sm:px-0 px-3">Wholesale Inspector has empowered hundreds of millions in sales for some of the largest sellers on Amazon.</p>
        <div class="trust-row flex justify-between sm:flex-row flex-col sm:max-w-md w-full mt-10 mx-auto">
            <div class="trust-col-1 sm:w-1/2 w-1/1">
                <p class="tp-1 text-white text-normal text-sm">TRUSTED BY</p>
                <p class="tp-2 text-white font-semibold sm:text-4xl text-base">1,000+</p>
                <p class="tp-3 text-white text-normal text-sm">CUSTOMERS</p>
            </div>
            <div class="trust-col-2 sm:w-1/2 w-1/1">
                <p class="tp-1 text-white text-normal text-sm">ANALYZED OVER</p>
                <p class="tp-2 text-white font-semibold sm:text-4xl text-base">8 billion</p>
                <p class="tp-3 text-white text-normal text-sm">PRODUCTS</p>
            </div>
        </div>
    </section>
    <!-- Feature Section -->
    <section class="feature-sec text-center max-w-4xl mx-auto mt-3 pb-10 md:px-0 px-4">
        <h2 class="text-blue-900 font-bold sm:text-5xl text-3xl mb-3">Our Feature</h2>
        <p class="sm:text-xl text-sm font-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat, dolor non ultrices elementum, justo arcu ultrices magna, eget laoreet turpis sapien ac massa.</p>
        <div class="feature-grid grid grid-cols-1 sm:grid-cols-2 gap-8 mt-16">
            <div class="feature-col feature-col-1 sm:mb-12 px-6 py-16">
                <div class="feature-col-img mx-auto mb-4">
                    <img src="images/feature-col-1.png" alt="">
                </div>
                <h3 class="sm:text-3xl text-xl text-blue-900 font-bold mb-4">Industry Leading Speed</h3>
                <p class="sm:text-lg text-sm text-blue-900">The fastest tool in existence. Up to 60k products per minute or over 3.6M per hour.
                </p>
            </div>
            <div class="feature-col feature-col-2 sm:mb-12 px-6 py-16">
                <div class="feature-col-img mx-auto mb-4">
                    <img src="images/feature-col-2.png" alt="">
                </div>
                <h3 class="sm:text-3xl text-xl text-blue-900 font-bold mb-4">Deeply Customizable</h3>
                <p class="sm:text-lg text-sm text-blue-900">Saved filters, views, and color bands allow you to filter a file in just seconds.</p>
            </div>
            <div class="feature-col feature-col-3 px-6 py-16">
                <div class="feature-col-img mx-auto mb-4">
                    <img src="images/feature-col-3.png" alt="">
                </div>
                <h3 class="sm:text-3xl text-xl text-blue-900 font-bold mb-4">Easy Setup</h3>
                <p class="sm:text-lg text-sm text-blue-900">No MWS keys to enter and no software to download. Run your first file in minutes.</p>
            </div>
            <div class="feature-col feature-col-4 px-6 py-16">
                <div class="feature-col-img mx-auto mb-4">
                    <img src="images/feature-col-4.png" alt="">
                </div>
                <h3 class="sm:text-3xl text-xl text-blue-900 font-bold mb-4">Unlimited Usage</h3>
                <p class="sm:text-lg text-sm text-blue-900">Life without limitations. Run as many products and files as you want per month.</p>
            </div>
        </div>
        <div class="feature-sec-img max-w-3xl mt-12 mx-auto">
            <img src="images/feature-sec-img.png" alt="">
        </div>
    </section>
    <!-- Work Section -->
    <section class="work-sec text-center sm:pb-16 pb-6 md:px-0 px-6">
        <div class="work-content max-w-4xl mx-auto">
            <div class="work-sec-head mb-16 pt-8">
                <h2 class="text-blue-900 font-bold sm:text-4xl text-2xl mb-3">How to work</h2>
                <p class="text-blue-900 font-medium sm:text-lg text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat, dolor non ultrices elementum, justo arcu ultrices magna, eget laoreet turpis sapien ac massa.</p>
            </div>
            <div class="work-grid grid grid-cols-1 sm:grid-cols-2 gap-5">
                <div class="work-col work-col-1 text-left ">
                    <h3 class="text-2xl text-blue-900 font-bold mb-4">Extensive Customization</h3>
                    <p class="sm:text-base text-sm leading-normal">Sort, filter, and highlight on any data point. Wholesale Inspector offers the deep customization needed to keep the important information at your fingertips, empowering you to make more better buying decisions through the power of
                        big data. Excel downloads available for the Excel gurus too!</p>
                </div>
                <div class="work-col work-col-2 text-center">
                    <p class="sm:text-xl text-sm">Add Image or video</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Work-2 Section -->
    <section class="work-sec-2 max-w-4xl mx-auto mt-20 sm:pb-20 pb-6 md:px-0 px-6">
        <div class="work-grid-2 grid grid-cols-1 sm:grid-cols-2 gap-10">
            <div class="work-sec2-col work-sec2-col-1">
                <ul>
                    <li class="font-bold mb-4"><span class="mr-3"><img src="images/check-circle.png" alt=""></span> IP Complaints</li>
                    <li class="font-bold mb-4"><span class="mr-3"><img src="images/check-circle.png" alt=""></span> Amazon in Stock Percentage</li>
                    <li class="font-bold mb-4"><span class="mr-3"><img src="images/check-circle.png" alt=""></span> Percentage of Time Profitable</li>
                    <li class="font-bold mb-4"><span class="mr-3"><img src="images/check-circle.png" alt=""></span> over 15% ROI</li>
                    <li class="font-bold mb-4"><span class="mr-3"><img src="images/check-circle.png" alt=""></span> Average BSR</li>
                    <li class="font-bold mb-4"><span class="mr-3"><img src="images/check-circle.png" alt=""></span> IP Complaints</li>
                </ul>
            </div>
            <div class="work-sec2-col work-sec2-col-2">
                <h3 class="text-2xl text-blue-900 font-bold mb-4">Cutting Edge Data Points</h3>
                <p class="sm:text-base text-sm leading-normal">Stay away from the brands that file IP complaints, avoid races to the bottom by looking at historical trends, and steer clear of competing with Amazon with Wholesale Inspector's exclusive data points.</p>
            </div>
        </div>
    </section>
    <!-- Work Section 3 -->
    <section class="work-sec work-sec-3 text-center sm:py-16 py-6 md:px-0 px-6">
        <div class="work-content max-w-4xl mx-auto">
            <div class="work-grid grid grid-cols-1 sm:grid-cols-2 gap-5">
                <div class="work-col work-col-1 text-left ">
                    <h3 class="text-2xl text-blue-900 font-bold mb-4">Industry Leading Speed</h3>
                    <p class="sm:text-base text-sm leading-normal">You sell in a hyper competitive marketplace. To you, data is power. You need a tool to get you that data quickly and no other tool on the market even comes close to our speeds.</p>
                </div>
                <div class="work-col work-col-2 text-center">
                    <p class="sm:text-xl text-sm">Add Image or video</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Trusted Section 2 -->
    <section class="trust-sec-2 max-w-4xl mx-auto md:px-0 px-6 sm:py-16 py-6">
        <div class="trust-sec2-head mb-16 mt-12">
            <h2 class="text-blue-900 font-bold sm:text-4xl text-2xl mb-3 text-center">Trusted by Thousands</h2>
            <p class="font-medium sm:text-lg text-sm text-center">Wholesale Inspector has empowered hundreds of millions in sales for some of the largest sellers on Amazon.</p>
        </div>
        <div class="trust-sec2-grid grid grid-cols-1 sm:grid-cols-2 gap-16">
            <div class="trust-sec2-col trust-sec2-col-1 text-center pt-16 pb-24 px-6">
                <p class="text-base font-medium mb-16 leading-8">
                    Wholesale Inspector has changed my business. It has reduced the amount of time I used to spend on running and formatting UPC lists by tens of hours a week. I have my VAs run the lists and I make intelligent, smart wholesale buys. Looking forward to really
                    scaling. The time savings alone are worth the monthly fee!</p>
                <p class="font-bold text-lg">Waddy P <span class="font-normal span-1">|</span> <span>7 Figure Seller</span></p>
            </div>
            <div class="trust-sec2-col trust-sec2-col-2 text-center pt-16 pb-24 px-6">
                <p class="text-base font-medium mb-16 leading-8">
                    Wholesale Inspector has changed my business. It has reduced the amount of time I used to spend on running and formatting UPC lists by tens of hours a week. I have my VAs run the lists and I make intelligent, smart wholesale buys. Looking forward to really
                    scaling. The time savings alone are worth the monthly fee!</p>
                <p class="font-bold text-lg">Waddy P <span class="font-normal span-1">|</span> <span>7 Figure Seller</span></p>
            </div>
            <div class="trust-sec2-col trust-sec2-col-3 text-center pt-16 pb-24 px-6">
                <p class="text-base font-medium mb-16 leading-8">
                    Wholesale Inspector has changed my business. It has reduced the amount of time I used to spend on running and formatting UPC lists by tens of hours a week. I have my VAs run the lists and I make intelligent, smart wholesale buys. Looking forward to really
                    scaling. The time savings alone are worth the monthly fee!</p>
                <p class="font-bold text-lg">Waddy P <span class="font-normal span-1">|</span> <span>7 Figure Seller</span></p>
            </div>
            <div class="trust-sec2-col trust-sec2-col-4 text-center pt-16 pb-24 px-6">
                <p class="text-base font-medium mb-16 leading-8">
                    Wholesale Inspector has changed my business. It has reduced the amount of time I used to spend on running and formatting UPC lists by tens of hours a week. I have my VAs run the lists and I make intelligent, smart wholesale buys. Looking forward to really
                    scaling. The time savings alone are worth the monthly fee!</p>
                <p class="font-bold text-lg">Waddy P <span class="font-normal span-1">|</span> <span>7 Figure Seller</span></p>
            </div>
        </div>
    </section>
    <!-- Price Section -->
    <section class="price-sec work-sec text-center sm:pb-20 pb-6 md:px-0 px-6">
        <div class="work-content max-w-4xl mx-auto">
            <div class="price-sec-head work-sec-head mb-16 sm:pt-16 pt-8">
                <h2 class="text-blue-900 font-bold sm:text-4xl text-2xl mb-3">Simple, Transparent Pricing</h2>
                <p class="text-blue-900 font-medium sm:text-lg text-sm">One price. Unlimited usage. No strings.</p>
            </div>
            <div class="price-sec-grid grid grid-cols-1 sm:grid-cols-2 mx-6">
                <div class="price-sec-col price-sec-col-1 pt-6 pb-12">
                    <h2 class="text-blue-900 font-semibold text-2xl mb-4">Monthly Access</h2>
                    <h3 class="font-semibold text-4xl mb-4">$99 <span class="price-span-1 font-normal text-sm">/</span> <span class="price-span-2 text-lg">MO</span></h3>
                    <div class="price-list mt-8">
                        <p class="font-semibold py-4">Industry Leading Speed (Up to 60k products / min)</p>
                        <p class="font-semibold py-4">Exclusive Historical Datapoints</p>
                        <p class="font-semibold py-4">Web-based sort, filter, and highlighting</p>
                        <p class="font-semibold py-4">Downloadable Excel Files</p>
                        <p class="font-semibold py-4">Sales per Month Estimates</p>
                        <p class="font-semibold py-4">Advanced Competition Data</p>
                        <p class="font-semibold py-4">Concurrent File Uploads</p>
                        <p class="font-semibold py-4">Smart File Formatter</p>
                        <p class="font-semibold py-4">Review Data</p>
                        <p class="font-semibold py-4">Profit, margin, & ROI</p>
                        <p class="font-semibold py-4">Scheduled Runs</p>
                        <a href="#" class="bg-blue-900 text-white font-semibold block mt-6 py-2 border-2 hover:border-blue-900 hover:bg-transparent hover:text-blue-900">Start 5 day free trial</a>
                    </div>
                </div>
                <div class="price-sec-col price-sec-col-2 pt-6 pb-12">
                    <h2 class="text-blue-900 font-semibold text-2xl mb-4">Yearly Access</h2>
                    <h3 class="font-semibold text-4xl mb-4">$99 <span class="price-span-1 font-normal text-sm">/</span> <span class="price-span-2 text-lg">YR</span></h3>
                    <p class="font-semibold">Save 25% compared to the monthly plan</p>
                    <div class="price-list mt-8">
                        <p class="font-semibold text-sm py-4">Industry Leading Speed (Up to 60k products / min)</p>
                        <p class="font-semibold text-sm py-4">Exclusive Historical Datapoints</p>
                        <p class="font-semibold text-sm py-4">Web-based sort, filter, and highlighting</p>
                        <p class="font-semibold text-sm py-4">Downloadable Excel Files</p>
                        <p class="font-semibold text-sm py-4">Sales per Month Estimates</p>
                        <p class="font-semibold text-sm py-4">Advanced Competition Data</p>
                        <p class="font-semibold text-sm py-4">Concurrent File Uploads</p>
                        <p class="font-semibold text-sm py-4">Smart File Formatter</p>
                        <p class="font-semibold text-sm py-4">Review Data</p>
                        <p class="font-semibold text-sm py-4">Profit, margin, & ROI</p>
                        <p class="font-semibold text-sm py-4">Review Data</p>
                        <p class="font-semibold text-sm py-4">Profit, margin, & ROI</p>
                        <p class="font-semibold text-sm py-4">Scheduled Runs</p>
                        <a href="#" class="bg-blue-900 text-white font-semibold block mt-6 py-2 border-2 hover:border-blue-900 hover:bg-transparent hover:text-blue-900">Start 5 day free trial</a>
                    </div>
                </div>
            </div>
    </section>
    <!-- Next Level Section -->
    <section class="next-level-sec bg-blue-900 sm:py-12 py-6 md:px-0 px-6">
        <div class="next-level-content max-w-5xl mx-auto">
            <div class="next-level-grid grid grid-cols-1 sm:grid-cols-2 gap-8">
                <div class="next-level-col next-level-col-1">
                    <h2 class="text-white font-bold sm:text-3xl text-lg mb-8">Next Level Wholesale Sourcing</h2>
                    <p class="text-white text-sm leading-7">Join the thousands of sellers using Wholesale Inspector and get the same ground breaking technology used by some of the biggest sellers on Amazon to grow your own business. Powering 7 and 8 figure sellers, this is the data edge you
                        need to get to the next level.</p>
                </div>
                <div class="next-level-col next-level-col-1 ">
                    <a href="#" class="inline-block w-56 text-center text-lg py-2 font-semibold bg-blue-800 rounded text-white border-2 border-blue-800 hover:border-blue-800 hover:text-white hover:bg-transparent next-level-btn">Start 5 day free trial</a>
                </div>
            </div>
        </div>
    </section>
    {% include partials/_footer.html %}
</body>

</html>